
<!DOCTYPE html>
<html>
	{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'signIn.css' %}">
	<title>Sign In Page</title>
	
</head>
<body>
	<div class="container">
		<h1>Sign In</h1>
		<form action = '/signIn' method = 'post' class = 'data-form'>
            {% csrf_token %}
			<label for = ''>Email</label>
            <input type = 'text' id = 'email' name = 'email' placeholder = 'Enter your email' required>
			<label for = ''>Password</label>
            <input type = 'text' id = 'pwd' name = 'pwd' placeholder = 'Enter your password' required>

			<button type="submit">Sign In</button>
		</form>
	</div>
    <br>
	<h3>OR</h3>
	
    <form action = "/guestSignIn" method = "post">
		{% csrf_token %}
        <button class = 'guest-btn' type = 'submit'>Sign In as Guest</button>
    </form>
</body>
</html>
